<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDr2-pPj7XuePs1KuCHxHbxDAihkhMNJzI</string>
	<key>GCM_SENDER_ID</key>
	<string>23124983812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minntoko.myapp</string>
	<key>PROJECT_ID</key>
	<string>banana-minntoko</string>
	<key>STORAGE_BUCKET</key>
	<string>banana-minntoko.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23124983812:ios:cbfc20bd37ccc84875b551</string>
</dict>
</plist>